<table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateBody-dark" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #eaeaea;border-top: 0;border-bottom: 0;">
    <tr>
        <td align="center" valign="top" style="padding-bottom: 20px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
            <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <tr>
                    <td valign="top" class="bodyContainer-alt" style="padding-top: 30px;padding-bottom: 30px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #eaeaea;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">                            
	                        <tr>
	                            <td valign="top" class="mcnTextBlockInner" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
	                                <table border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">                                            
										<tr>
										    <td valign="top" class="mcnTextCenter" style="padding-top: 0px;padding-right: 0;padding-bottom: 30px;padding-left: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
										        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">												            
										                <tr>
										                    <td valign="middle" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
										                        <hr style="border: 0; border-bottom: 1px solid #010101;" />
										                    </td>
										                    <td valign="top" class="mcnTextCenter" style="padding-top: 0px;padding-right: 18px;padding-left: 18px;width: 330px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
										                        <h2 style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 150%;letter-spacing: normal;text-align: center;color: #010101 !important;">Comparable</h2>
										                    </td>
										                    <td valign="middle" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
										                        <hr style="border: 0; border-bottom: 1px solid #010101;" />
										                    </td>
										                </tr>												            
										        </table>
										    </td>
										</tr>                                            
	                                    <!-- ab_tips -->
										*|ab_tips|*
	                                    <!-- END ab_tips -->
	                                    <tr>
	                                        <td valign="top" class="mcnTextContent mcnTextContentAlt" style="padding-top: 15px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;line-height: 24px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #010101;font-family: Verdana, Geneva, sans-serif;font-size: 16px;text-align: left;">
	                                            <table style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">                                                            
	                                                    <tr>
	                                                        <td valign="top" style="text-align: center;background-color: #000000;width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%; padding-top: 18px; padding-bottom: 18px;">
	                                                            <a href="*|concert.link|*" style="width: 100%; color: #ffffff;font-size: 20px;text-transform: uppercase;text-decoration: none;font-family: Arial, sans-serif;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%; vertical-align: middle;">MORE</a>
	                                                        </td>
	                                                    </tr>                                                            
	                                            </table>
	                                        </td>
	                                    </tr>                                            
	                                </table>
	                            </td>
	                        </tr>                            
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>