<tr>
    <td valign="top" class="mcnTextCenter" style="padding-top: 0px;padding-right: 0;padding-bottom: 30px;padding-left: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">     
        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">            
	        <tr>
	            <td valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
					<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">	                        
						<tr>
						    <td valign="top" style="padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
						        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">	                                        
					                <tr>
					                    <td class="mcnImageCardRightImageContent" valign="top" style="padding-top: 8px;padding-right: 20px;padding-bottom: 18px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
					                        <img alt="*|news.news_item.title|*" src="*|news.news_item.image|*" width="179" style="max-width: 179px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage" />
					                    </td>
					                </tr>	                                        
						        </table>
						    </td>
						    <td valign="top" style="padding-right: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
						        <table class="mcnImageCardRightTextContentContainer" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">	                                        
					                <tr>
					                    <td valign="top" class="mcnTextContent" style="padding-top: 0px;padding-bottom: 18px;text-align: left;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #010101;font-family: Verdana, Geneva, sans-serif;font-size: 16px;line-height: 28px;">
					                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">	                                                        
				                                <tr>
				                                    <td valign="top" style="font-size: 18px;font-weight: bold;font-family: Arial, sans-serif;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
				                                        *|news.news_item.title|*
				                                    </td>
				                                </tr>
				                                <tr>
				                                    <td valign="top" style="font-size: 15px;color: #4e4e4e;padding-top: 5px;font-family: Verdana, sans-serif;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
				                                        *|news.news_item.description|* <a href="*|news.news_item.link|*" style="color: #d60000;">Lees meer</a> ...
				                                    </td>
				                                </tr>	                                                        
					                        </table>
					                    </td>
					                </tr>	                                        
						        </table>
						    </td>
						</tr>	                        
					</table>
	            </td>
	        </tr>            
        </table>
    </td>
</tr>