<table border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">	
	<tr>
		<td valign="top" class="mcnTextCenter" style="padding-top: 0px;padding-right: 0;padding-bottom: 30px;padding-left: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">				
				<tr>
					<td valign="top" class="mcnTextCenter" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
						<a name="comparable"></a>
						<h2 style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 150%;letter-spacing: normal;text-align: center;color: #010101 !important;">News over *|concert.title|*</h2>
					</td>
				</tr>				
			</table>
		</td>
	</tr>
	<!-- news -->
	*|news|*
	<!-- END news -->	
</table>