<tr>
	<td>
		<table border="0" cellpadding="0" cellspacing="0" class="mcnTextContent" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #010101;font-family: Verdana, Geneva, sans-serif;font-size: 16px;line-height: 28px;text-align: left;">			
			<tr>
				<td valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
					<img alt="*|poll.news_item.title|*" src="*|poll.news_item.image|*" width="274" style="max-width: 274px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;height: auto !important;" class="mcnImage" />
				</td>
				<td valign="top" style="padding-left: 20px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
					<p style="font-size: 20px;margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #010101;font-family: Verdana, Geneva, sans-serif;line-height: 28px;text-align: left;">*|poll.news_item.title|*</p>
					<p style="margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #010101;font-family: Verdana, Geneva, sans-serif;font-size: 16px;line-height: 28px;text-align: left;">*|poll.news_item.summary|*</p>
					<a href="*|poll.news_item.link|*" style="color: #d60000;font-style: italic;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Doe mee &amp; Win</a>
				</td>
			</tr>			
		</table>
	</td>
</tr>