<tr>
	<td style="padding-top: 20px;">
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="280" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">			
			<tr>
			    <td valign="top" class="mcnTextContent" style="padding-top: 0px;padding-right: 0;padding-bottom: 30px;padding-left: 0;width: 280px;border-bottom: 1px solid #000000;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #010101;font-family: Verdana, Geneva, sans-serif;font-size: 16px;line-height: 28px;text-align: left;">
			        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">				            
			            <tr>
			                <td valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
			                    <a href="*|recent_news.news_item.center.link|*" style="margin: 0;padding: 0;text-decoration: none;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #010101;font-weight: normal;"><img alt="*|recent_news.news_item.center.title|*" src="*|recent_news.news_item.center.image|*" width="280" style="max-width: 280px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;height: auto !important;" class="mcnImage" /></a>
			                </td>
			            </tr>
			            <tr>
			                <td valign="top" style="padding-top: 18px;font-size: 18px;font-family: Verdana;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
			                    <b>*|recent_news.news_item.center.title|*</b>
			                </td>
			            </tr>
			            <tr>
			                <td valign="top" style="padding-top: 10px;font-size: 15px;color: #4e4e4e;font-family: Verdana;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
			                    *|recent_news.news_item.center.date|*
			                </td>
			            </tr>				        	
			        </table>
			    </td>
			</tr>			
		</table>
	</td>
</tr>