<tr>
    <td valign="top" class="mcnTextContent mcnTextContentAlt" style="padding-top: 5px;padding-right: 18px;padding-bottom: 0px;padding-left: 18px;line-height: 24px;border-bottom: 1px solid #afafaf;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #010101;font-family: Verdana, Geneva, sans-serif;font-size: 16px;text-align: left;">
        <table style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">            
	        <tr>
	            <td valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">                        
	                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">                            
	                    <tr>
	                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">	                                    
	                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">	                                        
	                                <tr>
	                                    <td class="mcnImageCardRightImageContent" valign="top" style="padding-top: 18px;padding-right: 20px;padding-bottom: 18px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
	                                        <a href="*|this_week.concert.link|*" style="text-decoration: none;margin: 0;padding: 0;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
	                                            <img alt="*|this_week.concert.title|*" src="*|this_week.concert.image|*" width="108" style="max-width: 108px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;height: auto !important;" class="mcnImage" />
	                                        </a>
	                                    </td>
	                                </tr>	                    
	                            </table>
	                        </td>
	                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">	                                    
	                            <table class="mcnImageCardRightTextContentContainer" border="0" cellpadding="0" cellspacing="0" width="430" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">	                                        
	                                <tr>
	                                    <td valign="top" class="mcnTextContent" style="padding-top: 18px;padding-bottom: 18px;text-align: left;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #010101;font-family: Verdana, Geneva, sans-serif;font-size: 16px;line-height: 28px;">	
	                                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">	                                                        
	                                            <tr>
	                                                <td valign="top" style="font-size: 15px;font-family: Verdana, sans-serif;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
	                                                    <span style="color:#d30915;">*|this_week.concert.start_date|*</span> - <i>*|this_week.concert.kind|*</i>
	                                                </td>
	                                            </tr>
	                                            <tr>
	                                                <td valign="top" style="font-size: 18px;font-weight: bold;font-family: Arial, sans-serif;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
	                                                    <a href="*|this_week.concert.link|*" style="text-decoration: none;margin: 0;padding: 0;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%; color: #010101;line-height: 1;">
	                                                        *|this_week.concert.title|*
	                                                    </a>
	                                                </td>
	                                            </tr>
	                                            <tr>
	                                                <td valign="top" style="font-size: 15px;color: #4e4e4e;padding-top: 5px;font-family: Verdana, sans-serif;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
	                                                    *|this_week.concert.slogan|*
														*|this_week.concert.project.logo|*
	                                                </td>
	                                            </tr>	                                                        
	                                        </table>	
	                                    </td>
	                                    <td valign="middle" class="mcnTextContent" style="padding-right: 0px;padding-top: 18px;padding-bottom: 18px;text-align: right;width: 50px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #010101;font-family: Verdana, Geneva, sans-serif;font-size: 16px;line-height: 28px;">	
	                                        <table border="0" cellpadding="0" cellspacing="0" width="50" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">	                                                        
	                                            <tr>
	                                                <td valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
	                                                    <a href="*|this_week.concert.link|*" style="text-decoration: none;margin: 0;padding: 0;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
	                                                        <img alt="&rarr;" src="http://www.abconcerts.be/assets/default/images/mail/arrow.png" width="50" style="max-width: 50px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;height: auto !important;" class="mcnImage" />
	                                                    </a>
	                                                </td>
	                                            </tr>	                                                        
	                                        </table>	
	                                    </td>
	                                </tr>	                                        
	                            </table>
	                        </td>
	                    </tr>                            
	                </table>                        
	            </td>
	        </tr>            
        </table>
    </td>
</tr>