<table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
		<tr>
			<td>
				<table border="0" cellspacing="0" cellpadding="0" width="600" bgcolor="#f1ffda" align="center">
						<tr>
							<td rowspan="2" width="5">&nbsp;</td>
							<td bgcolor="#f1ffda" height="30" valign="top" colspan="2"><img style="display: block" border="0" alt="L'actualité" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/t_actu.jpg" /></td>
							<td width="195" rowspan="2" valign="top"><a href="http://www.etreenceinte.com/monprofil/famille?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email" target="_blank"><img border="0" alt="S'abonner aux suivis" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/pub_newsletter.jpg" /></a></td>
						</tr>
						<tr>
							<td valign="top" width="201"><img style="border-bottom: #646464 1px solid; border-left: #646464 1px solid; border-top: #646464 1px solid; border-right: #646464 1px solid" alt="|||ACTUALITE_ARTICLE_TITRE|||" src="http://medias.etreenceinte.com/site-bebe/|||ACTUALITE_ARTICLE_ID|||/illustration/t-|||ACTUALITE_ARTICLE_ILLUSTRATION|||" width="182" height="99" /></td>
							<td style="padding-bottom: 0px; padding-left: 10px; padding-right: 10px; padding-top: 0px" valign="top" width="199">
								<p style="padding-bottom: 0px; line-height: 20px; margin: 0px; padding-left: 0px; padding-right: 0px; color: #61990b; font-size: 14px; font-weight: bold; padding-top: 0px">|||ACTUALITE_ARTICLE_TITRE|||</p>
				                <p style="padding-bottom: 0px; margin: 5px 0px; padding-left: 0px; padding-right: 0px; font-size: 12px; padding-top: 0px">|||ACTUALITE_ARTICLE_DESCRIPTION|||</p>
				                <a href="http://www.etreenceinte.com/mon-mag/article/|||ACTUALITE_ARTICLE_SLUG|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email" target="_blank"><img border="0" alt="Lire la suite" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/btn_lire_suite.jpg" style="display: block;" /></a>
							</td>
						</tr>
						<tr>
							<td height="10" valign="bottom" colspan="4"><img alt="image" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/eparateur.jpg" width="600" height="1" /></td>
						</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding-left: 5px" height="30" valign="bottom"><img src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/t_alaune.jpg" alt="" width="88" height="22" border="0" style="display: block" /></td>
		</tr>
		<tr>
			<td style="padding-left: 5px">
				<table border="0" cellspacing="0" cellpadding="0" width="595" align="center">
						<tr>
							<td valign="top" width="182"><p style="padding-bottom: 0px; line-height: 20px; margin: 0px; padding-left: 0px; padding-right: 0px; color: #61990b; font-size: 14px; font-weight: bold; padding-top: 0px">|||ARTICLE_1_TITRE|||</p></td>
							<td valign="top" width="10"><img  src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/separateur2.jpg" alt="" width="5" height="35" style="display: block" /></td>
							<td valign="top" width="182"><p style="padding-bottom: 0px; line-height: 20px; margin: 0px; padding-left: 0px; padding-right: 0px; color: #61990b; font-size: 14px; font-weight: bold; padding-top: 0px">|||ARTICLE_2_TITRE|||</p></td>
							<td valign="top" width="10"><img  src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/separateur2.jpg" alt="" width="5" height="35" style="display: block" /></td>
							<td valign="top" width="182"><p style="padding-bottom: 0px; line-height: 20px; margin: 0px; padding-left: 0px; padding-right: 0px; color: #61990b; font-size: 14px; font-weight: bold; padding-top: 0px">|||ARTICLE_3_TITRE|||</p></td>
							<td valign="top" width="10"><img  src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/separateur2.jpg" alt="" width="5" height="35" style="display: block" /></td>
						</tr>
						<tr>
							<td valign="top" width="182"><img style="border-bottom: #646464 1px solid; border-left: #646464 1px solid; border-top: #646464 1px solid; border-right: #646464 1px solid" alt="|||ARTICLE_1_TITRE|||" src="http://medias.etreenceinte.com/site-bebe/|||ARTICLE_1_ID|||/illustration/|||ARTICLE_1_ILLUSTRATION|||" width="182" height="99" /><p style="padding-bottom: 0px; margin: 5px 0px; padding-left: 0px; padding-right: 0px; font-size: 12px; padding-top: 0px">|||ARTICLE_1_DESCRIPTION|||</p></td>
							<td style="padding-bottom: 10px" valign="top" width="10"><img src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/separateur2.jpg" alt="" width="5" height="220" style="display: block" /></td>
							<td valign="top" width="182"><img style="border-bottom: #646464 1px solid; border-left: #646464 1px solid; border-top: #646464 1px solid; border-right: #646464 1px solid" alt="|||ARTICLE_2_TITRE|||" src="http://medias.etreenceinte.com/site-bebe/|||ARTICLE_2_ID|||/illustration/|||ARTICLE_2_ILLUSTRATION|||" width="182" height="99" /><p style="padding-bottom: 0px; margin: 5px 0px; padding-left: 0px; padding-right: 0px; font-size: 12px; padding-top: 0px">|||ARTICLE_2_DESCRIPTION|||</p></td>
							<td style="padding-bottom: 10px" valign="top" width="10"><img src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/separateur2.jpg" alt="" width="5" height="220" style="display: block" /></td><td valign="top" width="182"><img style="border-bottom: #646464 1px solid; border-left: #646464 1px solid; border-top: #646464 1px solid; border-right: #646464 1px solid"  alt="|||ARTICLE_3_TITRE]|||" src="http://medias.etreenceinte.com/site-bebe/|||ARTICLE_3_ID|||/illustration/|||ARTICLE_3_ILLUSTRATION|||" width="182" height="99" /><p style="padding-bottom: 0px; margin: 5px 0px; padding-left: 0px; padding-right: 0px; font-size: 12px; padding-top: 0px">|||ARTICLE_3_DESCRIPTION|||</p></td>
							<td style="padding-bottom: 10px" valign="top" width="10"><img src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/separateur2.jpg" alt="" width="5" height="220" style="display: block" /></td>
						</tr>
						<tr>
							<td valign="top" width="182"><a href="http://www.etreenceinte.com/mon-mag/article/|||ARTICLE_1_SLUG|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email" target="_blank"><img border="0" alt="Lire la suite" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/btn_lire_suite2.jpg" style="display: block;" /></a></td>
							<td valign="top" width="10"><img src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/separateur2.jpg" alt="" width="5" height="35" style="display: block" /></td>
							<td valign="top" width="182"><a href="http://www.etreenceinte.com/mon-mag/article/|||ARTICLE_2_SLUG|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email" target="_blank"><img border="0" alt="Lire la suite" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/btn_lire_suite2.jpg" style="display: block;" /></a></td>
							<td valign="top" width="10"><img src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/separateur2.jpg" alt="" width="5" height="35" style="display: block" /></td>
							<td valign="top" width="182"><a href="http://www.etreenceinte.com/mon-mag/article/|||ARTICLE_3_SLUG|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email" target="_blank"><img border="0" alt="Lire la suite" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/btn_lire_suite2.jpg" style="display: block;" /></a></td>
							<td valign="top" width="10"><img src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/separateur2.jpg" alt="" width="5" height="35" style="display: block" /></td>
						</tr>
				</table>
			</td>
	    </tr>
	    <tr>
			<td height="124" width="600" align="center"><a href="http://www.etreenceinte.com/monprofil/famille?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email" target="_blank"><img border="0" alt="Personnalisez votre newsletter" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/encart_personnaliser.jpg" width="600" height="124" style="display: block;" /></a></td>
	    </tr>
		<tr>
			<td valign="top">
				<table border="0" cellspacing="0" cellpadding="0" width="595" align="center">
						<tr>
							<td style="padding-left: 5px">
								<table border="0" cellspacing="0" cellpadding="0" width="270" align="left">
										<tr>
											<td colspan="2"><img style="display: block" alt="Sondages" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/t_sondages.jpg" width="105" height="31" /></td>
										</tr>
										<tr>
											<td colspan="2"><p style="padding-bottom: 0px; margin: 10px 0px 0px; padding-left: 0px; padding-right: 0px; font-size: 12px; font-weight: bold; padding-top: 0px">|||SONDAGE_1_QUESTION|||</p></td>
										</tr>
										<tr>
											<td width="78"><p style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; color: #61990b; font-size: 35px; padding-top: 0px">|||SONDAGE_1_QUESTION_VOTES||| %</p></td>
											<td valign="top"><p style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; color: #61990b; font-size: 12px; font-weight: bold; padding-top: 0px">|||SONDAGE_1_TOP_REPONSE|||</p></td>
										</tr>
										<tr>
											<td colspan="2"><p style="padding-bottom: 0px; margin: 10px 0px 0px; padding-left: 0px; padding-right: 0px; font-size: 12px; font-weight: bold; padding-top: 0px">|||SONDAGE_2_QUESTION|||</p></td>
										</tr>
										<tr>
											<td width="78"><p style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; color: #61990b; font-size: 35px; padding-top: 0px">|||SONDAGE_2_QUESTION_VOTES||| %</p></td>
											<td valign="top"><p style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; color: #61990b; font-size: 12px; font-weight: bold; padding-top: 0px">|||SONDAGE_2_TOP_REPONSE|||</p></td>
										</tr>
										<tr>
											<td style="HEIGHT: 50px" colspan="2"><a href="http://www.etreenceinte.com/sondages?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email" target="_blank"><img border="0" alt="Découvrir les sondages" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/btn_decouvrir.jpg" width="189" height="24" /></a></td>
										</tr>
								</table>
							</td>
							<td style="padding-top: 10px" width="10"><img style="display: block" alt="publicite" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/bordure.jpg" width="4" height="287" /></td>
							<td width="260" align="right"><a href="|||PUBLICITE_URL|||" target="_blank"><img border="0" alt="" src="http://medias.etreenceinte.com/newsletters/publicites/|||PUBLICITE_IMAGE|||" width="300" height="250" /></a></td>
						</tr>
        		</table>
			</td>
    	</tr>
		<tr>
			<td><img  src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/eparateur.jpg" alt="" width="600" height="1" style="display: block" /></td>
		</tr>
	    <tr>
			<td style="padding-bottom: 10px; padding-left: 5px; padding-right: 5px; padding-top: 10px" bgcolor="#f1ffda">
				<table border="0" cellspacing="0" cellpadding="0" width="590" bgcolor="#f1ffda" align="center">
						<tr>
							<td colspan="3"><img alt="Sur le forum" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/t_forum.jpg" width="134" height="22" /></td>
						</tr>
						<tr>
							<td width="250" align="left"><p style="padding-bottom: 0px; margin: 10px 0px 0px; padding-left: 0px; padding-right: 0px; color: #61990b; font-size: 12px; font-weight: bold; padding-top: 0px">Grossesse</p>
								- <a style="color: #000000; font-size: 11px; text-decoration: none" href="http://www.etreenceinte.com/forum/message/|||GROSSESSE_MESSAGE_1_ID|||-|||GROSSESSE_MESSAGE_1_SLUG|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email">|||GROSSESSE_MESSAGE_1_TITRE|||</a>
								<br />
								- <a style="color: #000000; font-size: 11px; text-decoration: none" href="http://forum.maviedemaman.com/discussion/|||GROSSESSE_MESSAGE_2_ID|||/|||GROSSESSE_MESSAGE_2_SLUG|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email">|||GROSSESSE_MESSAGE_2_TITRE|||</a>
							</td>
							<td width="8">&nbsp;</td>
							<td width="250" align="left"><p style="padding-bottom: 0px; margin: 10px 0px 0px; padding-left: 0px; padding-right: 0px; color: #61990b; font-size: 12px; font-weight: bold; padding-top: 0px">Bébé 0-6 mois</p>
								- <a style="color: #000000; font-size: 11px; text-decoration: none" href="http://www.etreenceinte.com/forum/message/|||BEBE_0_6_MOIS_MESSAGE_1_ID|||-|||BEBE_0_6_MOIS_MESSAGE_1_SLUG|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email">|||BEBE_0_6_MOIS_MESSAGE_1_TITRE|||</a>
								<br />
								- <a style="color: #000000; font-size: 11px; text-decoration: none" href="http://forum.maviedemaman.com/discussion/|||BEBE_0_6_MOIS_MESSAGE_2_ID|||/|||BEBE_0_6_MOIS_MESSAGE_2_SLUG|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email">|||BEBE_0_6_MOIS_MESSAGE_2_TITRE||||</a>
							</td>
							<td width="8">&nbsp;</td>
						</tr>
						<tr>
							<td width="250" align="left"><p style="padding-bottom: 0px; margin: 10px 0px 0px; padding-left: 0px; padding-right: 0px; color: #61990b; font-size: 12px; font-weight: bold; padding-top: 0px">Bébé 6-18 mois</p>
								- <a style="color: #000000; font-size: 11px; text-decoration: none" href="http://www.etreenceinte.com/forum/message/|||BEBE_6_18_MOIS_MESSAGE_1_ID|||-|||BEBE_6_18_MOIS_MESSAGE_1_SLUG|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email">|||BEBE_6_18_MOIS_MESSAGE_1_TITRE|||</a>
								<br />
								- <a style="color: #000000; font-size: 11px; text-decoration: none" href="http://forum.maviedemaman.com/discussion/|||BEBE_6_18_MOIS_MESSAGE_2_ID|||/|||BEBE_6_18_MOIS_MESSAGE_1_SLUG|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email">|||BEBE_6_18_MOIS_MESSAGE_2_TITRE|||</a>
							</td>
							<td width="8">&nbsp;</td>
							<td width="250" align="left"><p style="padding-bottom: 0px; margin: 10px 0px 0px; padding-left: 0px; padding-right: 0px; color: #61990b; font-size: 12px; font-weight: bold; padding-top: 0px">Bébé 18-36 mois</p>
								- <a style="color: #000000; font-size: 11px; text-decoration: none" href="http://www.etreenceinte.com/forum/message/|||BEBE_18_36_MOIS_MESSAGE_1_ID|||-|||BEBE_18_36_MOIS_MESSAGE_1_SLUG|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email">|||BEBE_18_36_MOIS_MESSAGE_1_TITRE|||</a>
								<br />
								- <a style="color: #000000; font-size: 11px; text-decoration: none" href="http://forum.maviedemaman.com/discussion/|||BEBE_18_36_MOIS_MESSAGE_2_ID|||/|||BEBE_18_36_MOIS_MESSAGE_2_SLUG|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email">|||BEBE_18_36_MOIS_MESSAGE_2_TITRE|||</a>
							</td>
							<td width="8">&nbsp;</td>
						</tr>
						<tr>
							<td colspan="3" align="right"><a href="http://forum.maviedemaman.com/discussion/?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email" target="_blank"><img border="0" alt="Visiter le forum" src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/btn_voir_forum.jpg" width="108" height="24" /></a></td>
						</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding-bottom: 5px; padding-left: 5px; padding-right: 0px; padding-top: 5px"><img style="display: block" alt="Et aussi..." src="http://images.primavista.fr/emailings/maviedemaman/2010_12_newsletter/t_etaussi.jpg" /></td>
		</tr>
    	<tr>
			<td style="padding-bottom: 15px">
				<table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
						<tr>
							<td width="50"><a href="|||SERVICE_1_URL|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email" target="_blank"><img src="|||SERVICE_1_IMAGE|||" alt="" width="50" height="50" border="0" /></a></td>
							<td style="padding-bottom: 0px; padding-left: 5px; padding-right: 10px; padding-top: 0px" width="130"><div style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; color: #666666; font-size: 11px; text-decoration: none; padding-top: 0px">|||SERVICE_1_CONTENU|||</div></td>
							<td width="50"></td>
							<td width="50"><a href="|||SERVICE_2_URL|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email" target="_blank"><img src="|||SERVICE_2_IMAGE|||" alt="" width="50" height="50" border="0" /></a></td>
							<td style="padding-bottom: 0px; padding-left: 5px; padding-right: 10px; padding-top: 0px" width="130"><div style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; color: #666666; font-size: 11px; text-decoration: none; padding-top: 0px">|||SERVICE_2_CONTENU|||</div></td>
							<td width="50"></td>
							<td width="50"><a href="|||SERVICE_3_URL|||?utm_campaign=bebiwicks_generique&utm_medium=newsletters&utm_source=email" target="_blank"><img src="|||SERVICE_3_IMAGE|||" alt="" width="50" height="50" border="0" /></a></td>
							<td style="padding-bottom: 0px; padding-left: 5px; padding-right: 10px; padding-top: 0px" width="130"><div style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; color: #666666; font-size: 11px; text-decoration: none; padding-top: 0px">|||SERVICE_3_CONTENU|||</div></td>
						</tr>
        		</table>
			</td>
    	</tr>
</table>