<table>
	<tr>
		<td style="border-left: #e3ded7 1px solid; padding-left: 7px; vertical-align: top" width="426">
			<table style="border-left: #e3ded7 1px solid; background-color: #fffdf9; border-right: #e3ded7 1px solid" border="0" cellspacing="0" cellpadding="0" width="355">
				<tr>
					<td style="padding-bottom: 0px; padding-left: 10px; padding-right: 10px; padding-top: 0px">|||NEWSLETTER_CONTENU_1|||</td>
					<td style="padding-bottom: 0px; padding-left: 0px; padding-right: 10px; vertical-align: top; padding-top: 5px" width="153"><img src="http://medias.etreenceinte.com/newsletters/illustrations/|||NEWSLETTER_ID|||/|||NEWSLETTER_ILLUSTRATION|||" alt="" width="153" height="83" /></td>
				</tr>
				<tr>
					<td style="padding-bottom: 0px; padding-left: 10px; padding-right: 10px; border-top: #e3ded7 2px dotted; padding-top: 0px" colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td style="padding-bottom: 0px; padding-left: 10px; padding-right: 10px; padding-top: 0px" width="353" colspan="2">|||NEWSLETTER_CONTENU_2|||</td>
				</tr>
				<tr>
					<td style="padding-bottom: 0px; padding-left: 0px; padding-right: 10px; border-top: #e3ded7 2px dotted; padding-top: 0px" colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td style="padding-bottom: 0px; padding-left: 10px; padding-right: 10px; padding-top: 0px" width="353" colspan="2">|||NEWSLETTER_CONTENU_3|||</td>
				</tr>
				<tr>
					<td style="padding-bottom: 0px; padding-left: 0px; padding-right: 10px; border-top: #e3ded7 2px dotted; padding-top: 0px" colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td style="padding-bottom: 0px; padding-left: 10px; padding-right: 10px; padding-top: 0px" width="353" colspan="2">|||NEWSLETTER_CONTENU_4|||</td>
				</tr>
				<tr>
					<td style="padding-bottom: 0px; padding-left: 0px; padding-right: 10px; border-top: #e3ded7 2px dotted; padding-top: 0px" colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td bgcolor="#e3ded7" height="6" colspan="2"></td>
				</tr>
			</table>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="border-bottom: #e3ded7 2px dotted; padding-bottom: 10px; padding-left: 3px; padding-right: 5px; padding-top: 10px">
						<p style="margin: 0px 0px 8px; color: #1dc8ff; font-size: 16px; font-weight: bold">On en parle sur le <a style="color: #ff8b00; text-decoration: none" title="Le forum Maviedemaman.com" href="http://forum.etreenceinte.com/discussion/|||SUJET_1_ID|||?utm_campaign=bebiwicks_maman&utm_medium=newsletters&utm_source=email">Forum</a></p>
						<p style="margin: 0px 0px 5px"><img src="http://images.primavista.fr/emailings/maviedemaman/002-News/img/fleche.gif" alt="" width="10" height="6" /> <a style="color: rgb(146,143,139); text-decoration: none"  href="http://forum.etreenceinte.com/discussion/|||SUJET_1_ID|||?utm_campaign=bebiwicks_maman&utm_medium=newsletters&utm_source=email" target="_blank">|||SUJET_1_TITRE|||</a> </p>
						<p style="margin: 0px 0px 5px"><img src="http://images.primavista.fr/emailings/maviedemaman/002-News/img/fleche.gif" alt="" width="10" height="6" /> <a style="color: rgb(146,143,139); text-decoration: none"  href="http://forum.etreenceinte.com/discussion/|||SUJET_2_ID|||?utm_campaign=bebiwicks_maman&utm_medium=newsletters&utm_source=email" target="_blank">|||SUJET_2_TITRE|||</a> </p>
						<p style="margin: 0px 0px 5px"><img src="http://images.primavista.fr/emailings/maviedemaman/002-News/img/fleche.gif" alt="" width="10" height="6" /> <a style="color: rgb(146,143,139); text-decoration: none"  href="http://forum.etreenceinte.com/discussion/|||SUJET_3_ID|||?utm_campaign=bebiwicks_maman&utm_medium=newsletters&utm_source=email" target="_blank">|||SUJET_3_TITRE|||</a> </p>
						<p style="margin: 0px 0px 5px"><img src="http://images.primavista.fr/emailings/maviedemaman/002-News/img/fleche.gif" alt="" width="10" height="6" /> <a style="color: rgb(146,143,139); text-decoration: none"  href="http://forum.etreenceinte.com/discussion/|||SUJET_4_ID|||?utm_campaign=bebiwicks_maman&utm_medium=newsletters&utm_source=email" target="_blank">|||SUJET_4_TITRE|||</a> </p>
						<p style="margin: 0px 0px 5px"><img src="http://images.primavista.fr/emailings/maviedemaman/002-News/img/fleche.gif" alt="" width="10" height="6" /> <a style="color: rgb(146,143,139); text-decoration: none"  href="http://forum.etreenceinte.com/discussion/|||SUJET_5_ID|||?utm_campaign=bebiwicks_maman&utm_medium=newsletters&utm_source=email" target="_blank">|||SUJET_5_TITRE|||</a> </p>
						<p style="margin: 0px 0px 5px"><img src="http://images.primavista.fr/emailings/maviedemaman/002-News/img/fleche.gif" alt="" width="10" height="6" /> <a style="color: rgb(146,143,139); text-decoration: none"  href="http://forum.etreenceinte.com/discussion/|||SUJET_6_ID|||?utm_campaign=bebiwicks_maman&utm_medium=newsletters&utm_source=email" target="_blank">|||SUJET_6_TITRE|||</a></p>
					</td>
				</tr>
			</table>
		</td>
		<td style="border-right: #e3ded7 1px solid; padding-top: 10px" valign="top">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="background-color: #e3ded7; width: 170px; padding-right: 5px; HEIGHT: 35px" align="right">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td rowspan="2"><p style="margin: 0px; color: #fff; font-size: 35px">[EMV SYSDATE]EEEE,fr[EMV /SYSDATE]</p></td>
								<td style="vertical-align: bottom" align="left"><p style="margin: 0px 0px 0px 3px; font-size: 12px">[EMV SYSDATE]dd,fr[EMV /SYSDATE]</p></td>
							</tr>
							<tr>
								<td style="vertical-align: top" align="left"><p style="TEXT-TRANSFORM: uppercase; margin: 0px 0px 0px 3px; font-size: 12px">[EMV SYSDATE]MMMM,fr[EMV /SYSDATE].</p></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="padding-bottom: 15px; padding-left: 5px; padding-right: 0px; padding-top: 5px">
						<p style="margin: 10px 0px; color: #1dc8ff; font-size: 12px; font-weight: bold">L'actualité</p>
						<p style="margin: 0pt 0pt 5px 5px"><img src="http://images.primavista.fr/emailings/maviedemaman/002-News/img/fleche.gif" alt="" width="10" height="6" /> <a style="color: rgb(146,143,139); text-decoration: none" href="http://www.etreenceinte.com/mon-mag/article/|||ARTICLE_1_SLUG|||?utm_campaign=bebiwicks_maman&utm_medium=newsletters&utm_source=email" target="_blank">|||ARTICLE_1_TITRE|||</a> </p>
						<p style="margin: 0pt 0pt 5px 5px"><img src="http://images.primavista.fr/emailings/maviedemaman/002-News/img/fleche.gif" alt="" width="10" height="6" /> <a style="color: rgb(146,143,139); text-decoration: none" href="http://www.etreenceinte.com/mon-mag/article/|||ARTICLE_2_SLUG|||?utm_campaign=bebiwicks_maman&utm_medium=newsletters&utm_source=email" target="_blank">|||ARTICLE_2_TITRE|||</a> </p>
						<p style="margin: 0pt 0pt 5px 5px"><img src="http://images.primavista.fr/emailings/maviedemaman/002-News/img/fleche.gif" alt="" width="10" height="6" /> <a style="color: rgb(146,143,139); text-decoration: none" href="http://www.etreenceinte.com/mon-mag/article/|||ARTICLE_3_SLUG|||?utm_campaign=bebiwicks_maman&utm_medium=newsletters&utm_source=email" target="_blank">|||ARTICLE_3_TITRE|||</a> </p>
						<p style="margin: 0pt 0pt 5px 5px"><img src="http://images.primavista.fr/emailings/maviedemaman/002-News/img/fleche.gif" alt="" width="10" height="6" /> <a style="color: rgb(146,143,139); text-decoration: none" href="http://www.etreenceinte.com/mon-mag/article/|||ARTICLE_4_SLUG|||?utm_campaign=bebiwicks_maman&utm_medium=newsletters&utm_source=email" target="_blank">|||ARTICLE_4_TITRE|||</a> </p>
						<p style="margin: 0pt 0pt 5px 5px"><img src="http://images.primavista.fr/emailings/maviedemaman/002-News/img/fleche.gif" alt="" width="10" height="6" /> <a style="color: rgb(146,143,139); text-decoration: none" href="http://www.etreenceinte.com/mon-mag/article/|||ARTICLE_5_SLUG|||?utm_campaign=bebiwicks_maman&utm_medium=newsletters&utm_source=email" target="_blank">|||ARTICLE_5_TITRE|||</a> </p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#e3ded7" height="6"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>