<!--START OF ONE IMG SCALING SECTION-->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
	<tbody>
		<tr>
			<td>
				<table class="narrow-100pc" width="600" align="center" border="0" cellspacing="0" cellpadding="0">
					<!-- Spacing -->
					<tr><td width="100%" height="10"></td></tr>
					<!-- Spacing -->
					<tr>
						<td class="narrow-100pc"><a href="{MAIN_IMG_URL}" title="{MAIN_IMG_ALT}" target="_blank"><img class="narrow-100pc" style="display:block;" src="{MAIN_IMG_LINK}" alt="{MAIN_IMG_ALT}" width="600" border="0" /></a></td>
					</tr>
					<!-- Spacing -->
					<tr><td width="100%" height="10"></td></tr>
					<!-- Spacing -->
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!--END OF ONE IMG SCALING SECTION-->