<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <tr>
                                 <td>
                                    <table width="298" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                       <tbody>
                                          <!-- Spacing -->
                                          <tr>
                                             <td width="100%" height="10"></td>
                                          </tr>
                                          <!-- Spacing -->
                                          <tr>
                                             <td>
                                                <!-- start of text content table -->
                                                <table width="298" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                   <tbody>
                                                      
                                                      <tr>
                                                         <td width="50%" align="center" valign="top">
                                                            
                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="width:90%;border: 1px solid #f0efed;">
                                                               <tbody>
                                                                  <tr>
                                                                     <td>
                                                                        <a href="{P1_LINK}" style="display:block; border:none; outline:none; text-decoration:none;">
                                                                           <img src="{P1_IMG_URL}" alt="{P1_IMG_ALT}" border="0" width="134" height="138" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg4">
                                                                        </a>
                                                                     </td>
                                                                  </tr>
                                                                  <!-- Divider -->
                                                                  <tr>
                                                                     <td width="187" align="center" class="devicewidth" bgcolor="#f0efed" height="10" valign="top">
                                                                        <!-- Divider -->
                                                                     </td>
                                                                  </tr>
                                                                  <!-- Top Text -->
                                                                  <tr>
                                                                     <td style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif;font-size:14px;text-align:center;line-height:18px;height:70px;" bgcolor="#f0efed" valign="middle">
                                                                        <a href="{P1_LINK}" style="display:block; border:none; outline:none; text-decoration:none;">  
                                                                           <span style="color: #000000;text-decoration:none;font-weight:bold;font-size:16px;line-height:18px;">{P1_TITLE}</span>
                                                                        </a>
                                                                     </td>
                                                                  </tr>
                                                                  <tr>
                                                                     <td style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif;font-size:14px;text-align:center;line-height:18px;" bgcolor="#f0efed">
                                                                        <a href="{P1_LINK}" style="display:block; border:none; outline:none; text-decoration:none;">																		
                                                                           {P1_PRICE}
                                                                        </a>
                                                                     </td>
                                                                  </tr>
                                                                  <!-- Divider -->
                                                                  <tr>
                                                                     <td width="187" align="center" class="devicewidth" bgcolor="#f0efed" height="10">
                                                                        <!-- Divider -->
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>

                                                         </td>
                                                         <td width="50%" align="center" valign="top">
                                                            
                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="width:90%;border: 1px solid #f0efed;">
                                                               <tbody>
                                                                  <tr>
                                                                     <td>
                                                                        <a href="{P2_LINK}" style="display:block; border:none; outline:none; text-decoration:none;">
                                                                           <img src="{P2_IMG_URL}" alt="{P2_IMG_ALT}" border="0" width="134" height="138" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg4">
                                                                        </a>
                                                                     </td>
                                                                  </tr>
                                                                  <!-- Divider -->
                                                                  <tr>
                                                                     <td width="187" align="center" class="devicewidth" bgcolor="#f0efed" height="10" valign="top">
                                                                        <!-- Divider -->
                                                                     </td>
                                                                  </tr>
                                                                  <!-- Top Text -->
                                                                  <tr>
                                                                     <td style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif;font-size:14px;text-align:center;line-height:18px;height:70px;" bgcolor="#f0efed" valign="middle">
                                                                        <a href="{P2_LINK}" style="display:block; border:none; outline:none; text-decoration:none;">  
                                                                           <span style="color: #000000;text-decoration:none;font-weight:bold;font-size:16px;line-height:18px;">{P2_TITLE}</span>
                                                                        </a>
                                                                     </td>
                                                                  </tr>
                                                                  <tr>
                                                                     <td style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif;font-size:14px;text-align:center;line-height:18px;" bgcolor="#f0efed">
                                                                        <a href="{P2_LINK}" style="display:block; border:none; outline:none; text-decoration:none;">  
                                                                           {P2_PRICE}
                                                                        </a>
                                                                     </td>
                                                                  </tr>
                                                                  <!-- Divider -->
                                                                  <tr>
                                                                     <td width="187" align="center" class="devicewidth" bgcolor="#f0efed" height="10">
                                                                        <!-- Divider -->
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>

                                                         </td>
                                                      </tr>

                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                          <!-- end of text content table -->
                                       </tbody>
                                    </table>
                                    <!-- end of left column -->
                                    <!-- start of right column -->
                                    <table width="298" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                       <tbody>
                                          <!-- Spacing -->
                                          <tr>
                                             <td width="100%" height="10"></td>
                                          </tr>
                                          <!-- Spacing -->
                                          <tr>
                                             <td>
                                                <!-- start of text content table -->
                                                <table width="298" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                   <tbody>
                                                      
                                                      <tr>
                                                         <td width="50%" align="center" valign="top">
                                                            
                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="width:90%;border: 1px solid #f0efed;">
                                                               <tbody>
                                                                  <tr>
                                                                     <td>
                                                                        <a href="{P3_LINK}" style="display:block; border:none; outline:none; text-decoration:none;">
                                                                           <img src="{P3_IMG_URL}" alt="{P3_IMG_ALT}" border="0" width="134" height="138" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg4">
                                                                        </a>
                                                                     </td>
                                                                  </tr>
                                                                  <!-- Divider -->
                                                                  <tr>
                                                                     <td width="187" align="center" class="devicewidth" bgcolor="#f0efed" height="10" valign="top">
                                                                        <!-- Divider -->
                                                                     </td>
                                                                  </tr>
                                                                  <!-- Top Text -->
                                                                  <tr>
                                                                     <td style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif;font-size:14px;text-align:center;line-height:18px;height:70px;" bgcolor="#f0efed" valign="middle">
                                                                        <a href="{P3_LINK}" style="display:block; border:none; outline:none; text-decoration:none;">  
                                                                           <span style="color: #000000;text-decoration:none;font-weight:bold;font-size:16px;line-height:18px;">{P3_TITLE}</span>
                                                                        </a>
                                                                     </td>
                                                                  </tr>
                                                                  <tr>
                                                                     <td style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif;font-size:14px;text-align:center;line-height:18px;" bgcolor="#f0efed">
                                                                        <a href="{P3_LINK}" style="display:block; border:none; outline:none; text-decoration:none;">  
                                                                           {P3_PRICE}
                                                                        </a>
                                                                     </td>
                                                                  </tr>
                                                                  <!-- Divider -->
                                                                  <tr>
                                                                     <td width="187" align="center" class="devicewidth" bgcolor="#f0efed" height="10">
                                                                        <!-- Divider -->
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>

                                                         </td>
                                                         <td width="50%" align="center">
                                                            
                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="width:90%;border: 1px solid #f0efed;">
                                                               <tbody>
                                                                  <tr>
                                                                     <td>
                                                                        <a href="{P4_LINK}" style="display:block; border:none; outline:none; text-decoration:none;">
                                                                           <img src="{P4_IMG_URL}" alt="{P4_IMG_ALT}" border="0" width="134" height="138" style="display:block; border:none; outline:none; text-decoration:none;" class="colimg4">
                                                                        </a>
                                                                     </td>
                                                                  </tr>
                                                                  <!-- Divider -->
                                                                  <tr>
                                                                     <td width="187" align="center" class="devicewidth" bgcolor="#f0efed" height="10" valign="top">
                                                                        <!-- Divider -->
                                                                     </td>
                                                                  </tr>
                                                                  <!-- Top Text -->
                                                                  <tr>
                                                                     <td style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif;font-size:14px;text-align:center;line-height:18px;height:70px;" bgcolor="#f0efed" valign="middle">
                                                                        <a href="{P4_LINK}" style="display:block; border:none; outline:none; text-decoration:none;">  
                                                                           <span style="color: #000000;text-decoration:none;font-weight:bold;font-size:16px;line-height:18px;">{P4_TITLE}</span>
                                                                        </a>
                                                                     </td>
                                                                  </tr>
                                                                  <tr>
                                                                     <td style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif;font-size:14px;text-align:center;line-height:18px;" bgcolor="#f0efed">
                                                                        <a href="{P4_LINK}" style="display:block; border:none; outline:none; text-decoration:none;">  
                                                                           {P4_PRICE}
                                                                        </a>
                                                                     </td>
                                                                  </tr>
                                                                  <!-- Divider -->
                                                                  <tr>
                                                                     <td width="187" align="center" class="devicewidth" bgcolor="#f0efed" height="10">
                                                                        <!-- Divider -->
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>

                                                         </td>
                                                      </tr>

                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                          <!-- end of text content table -->
                                       </tbody>
                                    </table>
                                    <!-- end of right column -->
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>